<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In Form</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="FormPage">

    <form class="formContainer" action="/log-in" method="POST">

        <h1 class="formHeaderText">Log In</h1>

        <div class="labelContainer">
            <label for="username">Username <span class="asterisk">*</span class="asterisk"></label>
            <input id="username" name="username" placeholder="Email Address" type="text" required/>
        </div class="labelContainer">
        <div class="labelContainer">
            <label for="password">Password <span class="asterisk">*</span class="asterisk"></label>
            <input id="password" name="password" type="password" required/>
        </div class="labelContainer">
    <button type="submit">Log In</button>
    </form>

</body>