@font-face{
    font-family: Barriecito;
    src: local(Barriecito), url("./Barriecito-Regular.ttf");
}

.titleName{
    font-family: Barriecito;
    text-align: center;
    color: var(--lightFontColor);
}