/* General CSS Code and Global Variables */

:root{
    --white-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 2%, 11%);
    --green: hsl(129, 83%, 58%);
    --border-hover-color: hsl(0, 1%, 34%);
}

*{
    margin: 0;
    font-family: Roboto;
    background-color: hsl(0, 1%, 26%);
    color: var(--white-color);
}

body{
    display: flex;
}


/* CSS Code for Static Sidebar Elements */

.sidebarContainer, h2[id="TodoTitle"], div[id="ProjectsTitle"]{
    background-color: var(--border-color);
    font-weight: 700;
    margin: 20px;
}

h2[id="TodoTitle"]{
    text-align: center;
    border-bottom: 2px solid var(--white-color);
}

.sidebar{
    border: 3px solid var(--border-color);
    height: 98vh;
    margin: 5px;
    border-radius: 5px;
    width: 15vw;
    min-width: 100px;
    max-width: 300px;
    background-color: var(--border-color);
}

button[id="addProjects"]{
    display: block;
    border-radius: 50%;
    background-color: hsl(122, 63%, 58%);
    border: none;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-right: 20px;
}

button[id="addProjects"]:hover{
    background-color: hsl(122, 63%, 40%);
}

div[id="ProjectList"]{
    background-color: var(--border-color);
    border-radius: 10px;
}

div[id="ProjectTitleContainer"]{
    display: flex;
    align-items: center;
    background-color: var(--border-color);
    justify-content: space-between;
    flex-wrap: wrap;
}

/* CSS Code for Static Main Bar Elements */

div[id="mainContent"]{
    border: 1px solid var(--border-color);
    width: 100%;
    margin: 10px 10px 0 5px;
    background-color: var(--border-color);
    border-radius: 20px;
    padding: 20px;
}

/* CSS Code for Modals*/

dialog > *, label, input, div[class="Labels&Inputs"], select{
    background-color: var(--white-color);
    border: none;
    color: var(--border-color);
}

dialog{
    margin: auto;
    border: none;
    border-radius: 10px;
    background-color: var(--white-color);
    padding: 30px;
}

.submitContainer{
    display: flex;
    justify-content: center;
    background-color: var(--white-color);
}

input[type="submit"], button.addTodoButton{
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    margin: 15px;    
    width: 100px;
    height: 30px;
    font-size: 1.1rem;
}

input[type="submit"]:hover, button.addTodoButton:hover{
    background-color: hsl(122, 63%, 55%)
}

label[class="modalLabels"]{
    background-color: var(--white-color);
    font-size: 1.2rem;
    border-bottom: var(--white-color);
}


.modalInput{
    padding: 5px;
    font-size: 1.1rem;
    border: 2px solid hsl(224, 82%, 59%);
    border-radius: 5px;
}

/* CSS Code for Non-static Sidebar (Adding Projects) */

div.sidebarProjectContainer{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    align-items: center;
}

div.sidebarProjectContainer:hover{
    display: flex;
    background-color: var(--border-hover-color);
    transform: translateY(-5px);
    transition: transform 0.3s;
}

div.sidebarProjectContainer{
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

img{
    width: 35px;
    height: 40px;
    border-radius: 10px;
}

img:hover, p.sidebarProject:hover{
    background-color: var(--border-hover-color);
}

/* CSS Code for Project Card Main Content*/

div.mainProjectContainer{
    background-color: var(--white-color);
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

div.mainProjectHead{
    display: flex;
    align-items: center;
}

p.mainProjectTitle{
    margin-left: 50%;
    font-size: 1.4rem;

}

button.addTodoButton{
    margin-left: auto;
    width: 150px;
    height: 40px;
}

div#mainProjectBody{
    background-color: var(--white-color);
}

/* CSS Code for Todo Card Styling */

span.cardTodoTitle, span.cardTodoDate{
    background-color: var(--white-color);
    color: var(--border-color);
    border-radius: 10px;
}

div.TodoCard{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
    background-color: var(--white-color);
    border: 3px solid black;
    padding: 10px;
}

div.TodoCard:hover{
    transform: translateY(-5px);
    transition: transform 0.3s;
}

div.TodoCardContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.TodoCardContent, div.TodoSVGs, .svg{
    background-color: var(--white-color);
}

.svg{
    width: 40px;
    height: 45px;
}

.svg:hover{
    background-color: hsl(0, 6%, 90%);
}


