/* Global CSS Styling Code */

:root{
    --defaultFont: Roboto;
    --submitColor: hsl(126, 88%, 61%);
    --submitHoverColor: hsl(126, 88%, 50%);
    --buttonColor: hsl(37, 91%, 56%);
    --buttonHoverColor: hsl(37, 91%, 46%);
}

*{
    font-family: Roboto; 
}

body{
    margin: 0;
    background: linear-gradient(45deg, rgb(223, 187, 187), #ffa4e2, #eaff9e);
    background-repeat: no-repeat;
    height: 100vh;
}

/* CSS Styling Code for Site Header */

div#HeaderParagraph{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    align-items: center;
    gap: 3%;
}

div#currentLocation{
    font-size: 1.3rem;
    font-weight: 600;
}

button#LocationChanger{
    background-color: var(--buttonColor);
    color: hsl(100, 100%, 100%);
    height: 55px;
    width: 200px;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
}

button#LocationChanger:hover{
    background-color: var(--buttonHoverColor);
    transform: translateY(-5px);
    box-shadow: 5px 5px 50px  var(--buttonColor);
    transition: 0.3s transform;
}

/* CSS Styling Code for Modal */

dialog{
    position: absolute;
    border-radius: 20px;
    
}

label#LocationLabel{
    font-size: 1.3rem;
}

input#LocationInput{
    border-radius: 10px;
    padding: 8px;
    height: 20px;
    font-size: 1.2rem;
}

div.submitContainer{
    display: flex;
    justify-content: center;
}

input#submitModal{
    background-color: var(--submitColor);
    margin: 15px;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
}

input#submitModal:hover{
    background-color: var(--submitHoverColor);
    box-shadow: 5px 5px 15px  var(--submitColor);
    transform: translateY(-3px);
    transition: 0.3s transform;
}

/* CSS Code for Styling the Weather Card and its elements */

div#WeatherCard{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: hsl(100, 100%, 100%);
    text-align: center;
    width: 55%;
    max-width: 850px;
    height: 65vh;
    margin: 5% auto;
    gap: 15%;
}

div#WeatherCard > * {
    font-size: 1.5rem;
    margin-top: 3%;
}

img#locationIcon{
    height: 150px;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    border: none;
}