<nav>
    <div class="navbarContainer">
        <a class="dashboardHeader" href="/" class="logoText">File Crate</a>

        <div class="buttonContainer">
            <a class="button log-Button" href="/">Home</a>
            <a class="button sign-Button" href="/log-out">Log Out</a>
        </div>
    </div>
</nav>