:root{
    --header-font: Impact;
    --regular-font: Roboto;
    --background-color: hsl(30, 86%, 75%);
    --background-hover-color: hsl(30, 86%, 60%);
    --header-color: hsl(0, 0%, 100%);
}

*{
    background-color:var(--background-color);
    font-family: var(--regular-font);
    margin: 0;
}

/* CSS Code for Navigation bar and Header*/

nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 5%;
    gap: 80px;
    background-color: var(--header-color);
}

h1[class="headerText"]{
    display: flex;
    margin-left: 10%;
    font-family: var(--header-font);
    font-size: 40px;
}

button, button:hover{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    font-size: 1.5rem;
    font-family: var(--header-font);
    border: none;

}

button:hover{
    background-color: var(--background-hover-color);
    transform: translateY(-5px);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 10px 20px var(--background-hover-color);
}


header[id = "header"]{
    display: flex;
    padding: 30px;
}

header, nav[class="navButton"], h1[class="headerText"] {
    background-color: var(--header-color);
}

/* CSS Code for HomePage in Javascript*/

.HomeSushiImage{
    width: 45%;
    height: 50%;
    max-width: 750px;
    min-width: 300px;
}

h1[class="mainDescription"]{
    font-family: var(--regular-font);
    font-weight: 800;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 50px;
}

.descriptionContainer{
    margin: auto 0 auto auto;
    width: 500px;
}


.minorDescription{
    margin-left: auto;
    font-size: 20px;
    color: hsl(0, 0%, 44%)
}

button[class="orderButton"]{
    margin-right: auto;
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    font-family: var(--regular-font);
    width: 120px;
    color: var(--header-color);
    background-color: hsl(0, 72%, 60%)
}   


button[class="orderButton"]:hover{
    background-color: hsl(0, 72%, 45%);
    transform: translateY(-5px);
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 35px hsl(0, 72%, 55%);
}

/* CSS Code for Menu Page in Javascript*/

.menuContainer > *  {
    background-color: var(--header-color);
}

.menuHeader{
    padding: 20px;
    border-bottom: 3px solid hsl(0, 72%, 60%);
    border-bottom-width: 0.3vw;
}

.menuContainer{
    width: 90vw;
    max-width: 1100px;
}

.menuTextContainer > *, .menuTextContainer, .menuItem{
    background-color: hsl(0, 0%, 94%)
}


.menuGridContainer{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.menuItem{
    display: flex;
    gap: 10px;
    margin: 20px;
    border: 1px solid rgb(128, 126, 126);
    border-radius: 10px;
    padding: 15px;
}

.menuHeader{
    text-align: center;
}

.menuImage{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

.menuTextContainer{
    display: grid;
    gap: 20px
}

.menuItem:hover{
    transform: translateY(-7px);
    transition: transform 0.25s;
}

.price{
    font-size: 1.5em;
    font-weight: 800;
}


/* CSS Code for About Page in Javascript */

.secondSushiImage{
    width: 25%;
    height: 35%;
    max-width: 350px;
    max-height: 350px;
    align-self: center;
}

.aboutContainer{
    background-color: var(--header-color);
    width: 60vw;
    margin: 5%;
    border-radius: 20px;
}

.Section{
    background-color: inherit;
    line-height: 1.5;
}

.Content{
    font-size: 20px;
    margin: 20px;
}

.aboutHeader{
    border-bottom: 4px solid hsl(0, 72%, 60%);
    margin: 20px;
}