:root{
    --background-color: #e4e4e7;
}

body{
    height: 100vh;
}

*{
    margin: 0;
}

#headlineContainer{
    height: 5vh;
}

#headlineLibrary{
    font-weight: bold;
    font-size: 2.5em;
    font-family: Verdana;
    margin-left: 5%;
    
}

#addButton{
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 60px;
    background-color: var(--background-color);
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 25px;
}

#addButton:hover{
    background-color: #a1a1aa!important;
}

#buttonContainer{
    display: flex;
    justify-content: center;
}

#mainContainer{
    background-color: var(--background-color);
    height: calc(100vh - 5vh);
}

form{
    border: none;
    width: 25vw;
    position: absolute;
    right: 37.5vw;
    display:none;
    top: 28vh;
    background-color:var(--background-color);
    border-radius: 15px; 
}

.inputs{
    display: flex;
    justify-content: center;
    margin: 10px;
}

#formHeadline{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
}

input{
    border-radius: 5px;
    border: none;
}

label{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
}

#read{
    width: 2vw;
}

#submitButton{
    border:none;
    border-radius: 5px;
    width: 20vw;
    height: 4vh;
    font-family: sans-serif;
    background-color: #6af581;
    font-size: 1.2em;
    font-weight: bold;
}

#submitButton:hover{
    background-color:#56d46b;
}

.user{
    width: 20vw;
    height: 3vh;
    font-size: 1.2em;
    padding: 8px;
}

.card{
    margin: 50px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    margin-left: 5vw;
}

.remove:hover{
    background-color:hsl(0, 2%, 60%)!important;
}

.READButton{
    border-radius: 7px;
    font-family: sans-serif;
    font-size: 1.3em;
    margin: 10px;
    border: none;
}

.section{
    font-family: sans-serif;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 20px;
}

#bookContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}