<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>File Ship</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%- include('../partials/navbar')%>

    <h1 class="dashboard-header">"One click away from uploading brilliance"<br> Enterprise-grade file uploads, made simple.</h1>

    <div class="dashboard-container">
        <div class="image-text-container">
            <img class="dashboard-images" src="/images/upload.svg">
            <h2 class="dashboard-secondary-text">File Uploads made Fast and Effortless</h2 class="dashboard-secondary-text">
        </div>

        <div class="image-text-container">
            <img class="dashboard-images" src="/images/private.svg">
            <h2 class="dashboard-secondary-text">Supplementary Security with Authentication and Verification</h2 class="dashboard-secondary-text">
        </div>

        <div class="image-text-container">
            <img class="dashboard-images" src="/images/collaborate.svg">
            <h2 class="dashboard-secondary-text">Collaborate with other Authenticated Users</h2 class="dashboard-secondary-text">
        </div>
    </div>
</body>