.boardDisplay {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
    margin: auto
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
  }

  .header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 3em;

  }

  .playerTurnDisplay{
    font-family: impact;
    font-size: 2.5em;
    text-align: center;
  }

  .restart{
    width: 20vw;
    height: 8vh;
    color: hsl(0, 0%, 100%);
    background-color: hsl(108, 77%, 40%);
    border-radius: 100px;
    font-size: 1.85em;
    margin-top: 5%;
    border: none;

  }

  .restart:hover{
    background-color: hsl(108, 77%, 30%);
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
  }

  .container{
    margin: auto
  }

 body{
    margin: none;
 }