:root{
  --backgroundColor: hsl(218, 38%, 13%);
  --lightFontColor: hsl(0, 100%, 100%);
  --cardBackgroundColor: hsl(225, 46%, 35%);
  --cardBackgroundHoverColor: hsl(225, 46%, 28%);
}

*{
  background-color: var(--backgroundColor);
}