<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Form</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="FormPage">

    <form class="formContainer" action="/admin" method="POST">

        <h1 class="formHeaderText">Verify Admin User</h1>

        <div class="labelContainer">
            <label for="admin">Admin Password<span class="asterisk">*</span class="asterisk"></label>
            <input class="" id="admin" name="admin" placeholder="Password..." type="password" required>
        </div class="labelContainer">
    <button type="submit">Submit</button>
    </form>

</body>